<h1>E-Commerce App</h1>

<input
  type="text"
  placeholder="Enter product name"
  [(ngModel)]="productName"
/>

<br><br>

<img 
  src="https://ecomstorageimages.blob.core.windows.net/images/bag.jpg?sv=2024-11-04&ss=bfqt&srt=o&sp=rtf&se=2026-01-30T16:07:09Z&st=2026-01-30T07:52:09Z&spr=https&sig=7KF1VjXw2jNYh%2FpwJt3v9g52RX2llhOmRVYN9OKmYpk%3D"
  width="200"
/>

<img 
  src="https://ecomstorageimages.blob.core.windows.net/images/laptop.jpg?sv=2024-11-04&ss=bfqt&srt=o&sp=rtf&se=2026-01-30T16:07:09Z&st=2026-01-30T07:52:09Z&spr=https&sig=7KF1VjXw2jNYh%2FpwJt3v9g52RX2llhOmRVYN9OKmYpk%3D"
  width="200"
/>

<img 
  src="https://ecomstorageimages.blob.core.windows.net/images/phone.jpg?sv=2024-11-04&ss=bfqt&srt=o&sp=rtf&se=2026-01-30T16:07:09Z&st=2026-01-30T07:52:09Z&spr=https&sig=7KF1VjXw2jNYh%2FpwJt3v9g52RX2llhOmRVYN9OKmYpk%3D"
  width="200"
/>


<button (click)="placeOrder()">Place Order</button>

<p>{{ message }}</p>
